Wine\'ot/Wineot.xcworkspace/xcuserdata/Athos.xcuserdatad/UserInterfaceState.xcuserstate
Wine\'ot/Wineot.xcworkspace/xcuserdata/Athos.xcuserdatad/*
Wine'ot/.DS_Store
*.xcbkptlist
Wine\'ot/iOSInjectionProject/*
